# MedusaJS Configuration
MEDUSA_ADMIN_ONBOARDING_TYPE=default

# CORS Configuration
STORE_CORS=http://localhost:3001,http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com

# Redis
REDIS_URL=redis://localhost:6379

# Secrets
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/medusa_store

# Backend URL for enrollment webhook
BACKEND_URL=http://localhost:3000
